<div class="container">
  <h2>Listado de Peticiones</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Imagen</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of peticiones">
      <td>{{ pet.id }}</td>
      <td>
        <img *ngIf="pet.imagen" [src]="baseUrl + '/storage/' + pet.imagen" alt="Imagen de la petición" style="max-width: 100px;">
      </td>
      <td>{{ pet.titulo }}</td>
      <td>{{ pet.descripcion }}</td>
      <td>
        <!-- Botón para ver la petición siempre visible -->
         <button *ngIf="currentUser?.role_id === 1" 
        class="btn btn-secondary btn-sm" 
        (click)="cambiarEstado(pet)">Cambiar estado</button>

        <button class="btn btn-primary btn-sm" [routerLink]="['/peticion', 'view', pet.id]">Ver Petición</button>
        <!-- Botón para firmar la petición -->
        <button class="btn btn-success btn-sm" (click)="firmar(pet.id!, pet)">Firmar</button>
        <!-- Botones de editar y eliminar solo si el usuario es el creador o admin -->
        <!-- <button *ngIf="isOwnerOrAdmin(pet)" class="btn btn-warning btn-sm" (click)="editPeticion(pet.id!)">Editar</button>
        <button *ngIf="isOwnerOrAdmin(pet)" class="btn btn-danger btn-sm" (click)="deletePeticion(pet.id!)">Eliminar</button> -->
      </td>
      </tr>
    </tbody>
  </table>
</div>
